{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Prosperity Circle Poster</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>

<body>

    <!-- <button class="toggle-btn" id="themeSwitch">Light Mode</button> -->

    <div class="container">
        <header class="top">
            <div class="logo">P</div>
            <div class="brand">Prosperity Circle</div>
        </header>

        <div class="tagbar">" Empowering Your Financial Future "</div>

        <div class="frame">
            <div class="inner">
                <img class="photo" src="{% static 'images/instagram.png' %}">
            </div>
            <section class="caption">
                <h3>In Prosperity Circle – We Don't Just Learn</h3>
                <p>* We Level Up Together *</p>
            </section>
        </div>



        <div class="cta-wrap">
            <button class="cta" type="submit"> Join Community Now </button>
        </div>

        <div class="lines">
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse voluptas autem veniam aliquid? Ipsam
                unde laborum quis qui assumenda recusandae possimus molestiae eaque quia. Delectus cupiditate quia totam
                debitis atque.</span>

        </div>
    </div>

    <!-- <footer>
        <div class="footer-1">
            <div class="contact">
                
                <span><strong>Email:-</strong>example@gamil.com</span>

            </div>

            <div class="social">
                <i class="fa-brands fa-instagram" style="font-size:30px;color:#e9e9e9;"></i>
                <i class="fa-brands fa-linkedin-in" style="font-size:30px;color:#fcfdff;"></i>
            </div>
        </div>


        <div class="line">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </footer> -->


</body>

</html>